*{
    margin: 0;
    padding: 0;
}

@import "./partials/colors";
@import "./partials/header";
@import "./partials/layout";

body{
    width: 100%;
    font-family: 'Sora', sans-serif;
    background-color: $primary-normal;
}

svg{
    width: 100%;
}

img{ 
    width: 100%;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: $white-light-2;
}
