*{
    margin: 0;
    padding: 0;
}

@import "./partials/colors";
@import "./partials/header";
@import "./partials/layout";
@import "./partials/modal";

body{
    width: 100%;
    font-family: 'Sora', sans-serif;
    background-color: $primary-normal;
    position: relative;
}

svg{
    width: 100%;
}

img{ 
    width: 100%;
}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: $white-light-2;
}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: $secundary-light;
}