* {
  margin: 0;
  padding: 0;
}

.reader-logo {
  width: 20%;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  position: fixed;
  background-color: #040f1a;
}

.nav h3 {
  color: #fff;
  margin-left: 20px;
}

#check-option {
  position: absolute;
  opacity: 0;
}

label {
  cursor: pointer;
  position: relative;
  display: none;
  width: 30px;
  height: 40px;
}

label span {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 30px;
  background-color: #fff;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
  top: 0;
}

label span:nth-child(2) {
  top: 8px;
}

label span:nth-child(3) {
  top: 16px;
}

#check-option:checked + label span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#check-option:checked + label span:nth-child(2) {
  opacity: 0;
}

#check-option:checked + label span:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

ul {
  width: 50%;
  display: flex;
  color: #707072;
  gap: 30px;
  position: relative;
}

.navbar-off {
  display: flex;
}

li {
  transition: 0.8s;
}

li a:hover,
li a:focus {
  color: rgb(16, 223, 223);
}

.reader-logo {
  margin: 30px;
}

.header-group {
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-i-text-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 110%;
}

.header-i-text-button h3 {
  color: #fff;
  font-size: 25px;
  line-height: 150%;
}

.header-i-text-button h5 {
  width: 100%;
  color: #fff;
  font-size: 25px;
  line-height: 150%;
  text-align: left;
}
.header-i-text-button h5 span {
  color: rgb(16, 223, 223);
}

.group-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-direction: flex;
}

.align-social {
  display: flex;
  justify-content: left;
  width: 100%;
}
.align-social i {
  transition: 1.3s;
}

.group-social a {
  margin: 5px;
  color: rgb(16, 223, 223);
}

.group-social i:hover {
  color: rgb(94, 173, 173);
  transform: translateY(-8px) scale(1.1);
}

.header-i-text-button p {
  color: #707072;
  margin-top: 20px;
}

.i-button {
  margin-top: 30px;
  width: 100%;
  height: auto;
}

.i-button button {
  width: 150px;
  height: 50px;
  background-color: rgb(16, 223, 223);
  border: 0;
  color: #fff;
  color: #06121e;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px -1px 17px -4px rgb(16, 223, 223);
  border-radius: 200px;
  transition: 1.3s;
  animation: button-animation 2s infinite;
}

.i-button button:hover {
  transform: translate(0) scale(1.1);
  background-color: rgb(94, 173, 173);
}

@keyframes button-animation {
  from {
    background-color: rgb(94, 173, 173);
  }
  to {
    background-color: rgb(16, 223, 223);
  }
}
.avatar {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
}

.img-avatar-i {
  width: 100%;
  height: 100%;
  position: relative;
}
.img-avatar-i .avatar-image-circle {
  position: absolute;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  animation: avatar-animation 3s infinite;
  border: 8px solid rgb(16, 223, 223);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px 5px 25px rgb(94, 173, 173);
}
.img-avatar-i .avatar-image-circle img {
  width: 105%;
  animation: image-animation-2 3s;
  animation-delay: 1s;
}

@keyframes image-animation-2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes avatar-animation {
  0% {
    top: 60px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 60px;
  }
}
@media screen and (max-width: 758px) {
  .reader-logo img {
    width: 300px;
  }
  label {
    display: block;
  }
  ul {
    display: none;
  }
  ul.url-mobile {
    width: 100%;
    height: 300px;
    display: block;
    color: #fff;
    background-color: #040f1a;
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: navbar 1.3s;
  }
  .navbar-off {
    display: none;
  }
  .header-group {
    flex-direction: column;
  }
  .header-group .header-img-avatar {
    width: 200px;
    height: 200px;
  }
  .header-i-text-button h3,
  p {
    margin-top: 50%;
    font-size: 20px;
    text-align: center;
  }
  .group-social {
    width: 100%;
    justify-content: center;
  }
  .header-i-text-button h5 {
    text-align: center;
  }
  .align-social {
    justify-content: center;
  }
  .i-button {
    display: flex;
    justify-content: center;
  }
  .img-avatar-i {
    margin-top: 50%;
  }
  .img-avatar-i img {
    width: 45%;
  }
}
@keyframes navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.3px;
}

.services {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col-i {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.col-i h1,
.services h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
}

strong {
  color: rgb(16, 223, 223);
}

.about {
  width: 98.7%;
  height: auto;
  justify-content: center;
  justify-content: center;
  align-items: center;
}

.group-col {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.avatar-i .img-avatar {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid rgb(16, 223, 223);
  box-shadow: -5px 5px 25px rgb(94, 173, 173);
}
.avatar-i .img-avatar img {
  width: inherit;
  transform: scale(1.2);
}

.text-button-i {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-button-i h1 {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}

.text-button-i h3 {
  color: #fefbff;
  font-weight: bold;
}

.text-button-i p {
  color: #d8d4da;
  margin-top: 10px;
  max-width: 80%;
  line-height: 150%;
}

.text-button-i .card-button {
  justify-content: left;
}

.cards {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.top {
  margin-top: 10%;
}

.flexDirection {
  flex-direction: column;
  padding: 13px;
}

.flex-wrap {
  width: 100%;
  flex-wrap: wrap;
}

.card-services {
  width: 40%;
  height: auto;
  background-color: #707072;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  transition: 2s;
  border: 3px solid transparent;
}
.card-services img {
  width: 100%;
  height: 100%;
}
.card-services .align-img {
  width: 120%;
  height: 120%;
}
.card-services .icone {
  height: 40px;
}
.card-services h2 {
  text-align: center;
  color: #fefbff;
  margin-top: 30px;
}
.card-services p {
  max-width: 70%;
  color: #fefbff;
  text-align: center;
  margin-top: 5%;
}
.card-services .card-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.card-services .card-button button {
  width: 150px;
  padding: 15px;
  color: #06121e;
  background-color: rgb(16, 223, 223);
  border: 0;
  font-weight: bold;
  border-radius: 200px;
  box-shadow: 0px -1px 17px -4px rgb(16, 223, 223);
  cursor: pointer;
  transition: 2s;
}

.card-services:hover {
  border-color: rgb(16, 223, 223);
}

.card-button button:hover {
  background-color: rgb(94, 173, 173);
  transform: translateY(0) scale(1.1);
}

.card-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.card-button button {
  width: 150px;
  padding: 15px;
  color: #06121e;
  background-color: rgb(16, 223, 223);
  border: 0;
  font-weight: bold;
  border-radius: 200px;
  box-shadow: 0px -1px 17px -4px rgb(16, 223, 223);
  cursor: pointer;
}

.group-card-i {
  width: 100%;
  display: flex;
  justify-content: center;
}

.group-card {
  width: 100%;
  display: flex;
}

.card .img-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(22, 207, 198, 0.863), rgba(16, 110, 98, 0.1));
  transition: 1.3s;
}
.card .img-info h5 {
  opacity: 1;
  text-align: center;
  color: #fff;
}
.card .img-info p {
  font-size: 14px;
}
.card .img-info .edit {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card .img-info .edit i {
  font-size: 12px;
}

.col-i .group-searches-row {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.col-i .group-searches-row button {
  padding: 15px 30px;
  cursor: pointer;
  background-color: rgb(94, 173, 173);
  border-radius: 10px;
  outline: none;
  border: 0;
  margin: 10px;
  box-shadow: 0px -1px 17px -4px rgb(16, 223, 223);
  transition: 0.8s;
}
.col-i .group-searches-row button:hover {
  background-color: rgb(16, 223, 223);
  transform: translateY(0) scale(1.1);
}
.col-i .group-searches-row .active-search {
  background-color: rgb(16, 223, 223);
}

.col-i .cards-portifolio {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.col-i .cards-portifolio .card--portifolio {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-bottom: 7px solid rgb(16, 223, 223);
}
.col-i .cards-portifolio .card--portifolio img {
  width: 105%;
  height: 105%;
}
.col-i .cards-portifolio .card--portifolio .card--dark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.col-i .cards-portifolio .card--portifolio .card--hover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 600px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
  background: linear-gradient(rgba(16, 223, 223, 0.5), rgba(16, 223, 223, 0.5));
}
.col-i .cards-portifolio .card--portifolio .card--hover .hover-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.col-i .cards-portifolio .card--portifolio .card--hover .hover-info h5 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
}
.col-i .cards-portifolio .card--portifolio .card--hover .hover-info p {
  margin-top: 5px;
  color: #fff;
  font-weight: 300;
}
.col-i .cards-portifolio .card--portifolio .card--hover .hover-info .button-portifolio {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
  background-color: aqua;
  color: #000;
  border: 0;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}
.col-i .cards-portifolio .card--portifolio .card--hover .button-portifolio:hover {
  background-color: rgb(94, 173, 173);
  transform: translateY(0) scale(1.1);
}
.col-i .cards-portifolio .card--portifolio:hover .card--hover {
  top: 0;
}

.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.contact .message-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .whatzap-i,
.contact .email-i {
  width: 500;
  height: 200px;
  border: 2px solid rgb(16, 223, 223);
  margin: 30px;
  display: flex;
  padding: 0 25px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.8s;
}
.contact .whatzap-i img,
.contact .email-i img {
  width: 50%;
}
.contact .whatzap-i p,
.contact .email-i p {
  margin-top: 30%;
}
.contact .whatzap-i i,
.contact .email-i i {
  font-size: 40px;
  color: rgb(16, 223, 223);
}

.email-i:hover,
.whatzap-i:hover {
  background: linear-gradient(to bottom, rgba(22, 207, 198, 0.863), rgba(16, 110, 98, 0.1));
}

.contact-group {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 60%;
  height: auto;
}
form .group-input {
  width: 100%;
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
form .group-input .verify-input {
  width: 100%;
}
form .group-input .verify-input input,
form .group-input .verify-input textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: 0;
  color: #fff;
  border-bottom: 2px solid rgb(94, 173, 173);
  padding: 10px 10px;
  transition: 0.8s;
}
form .group-input .verify-input .error-input {
  border-bottom: 1px solid red;
}
form .group-input .verify-input span {
  color: red;
  font-size: 12px;
  visibility: hidden;
}
form .group-input .verify-input textarea {
  border: 2px solid rgb(94, 173, 173);
}
form .group-input .verify-input input:hover,
form .group-input .verify-input textarea:hover {
  border-color: rgb(16, 223, 223);
}
form button {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  background-color: rgb(16, 223, 223);
  border: 0;
  padding: 20 25px;
  border-radius: 25px;
  box-shadow: 0px -1px 17px -4px rgb(16, 223, 223);
  cursor: pointer;
  transition: 1s;
}
form button:hover {
  transform: translate(0) scale(1.1);
  background-color: rgb(94, 173, 173);
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #38383a;
}

.footer .footer-group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fefbff;
}
.footer .footer-group p {
  font-size: 16px;
}

.down-i {
  width: 50px;
  height: 50px;
  background-color: rgb(16, 223, 223);
  margin-top: 20px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down-i i {
  color: #3e3e3f;
  font-size: 30px;
}

.whatzapp {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatzapp a {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.whatzapp a i {
  font-size: 50px;
  color: rgb(16, 223, 223);
  transition: all 1s;
}
.whatzapp .legend {
  display: inline-block;
  position: absolute;
  width: 140px;
  font-size: 12px;
  bottom: -15px;
  text-align: center;
  visibility: hidden;
  border: 3px solid rgb(16, 223, 223);
  transition: all 1s;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px 0;
}
.whatzapp a i:hover {
  transform: scale(1.2);
}
.whatzapp a:hover .legend {
  visibility: visible;
}

@media screen and (max-width: 758px) {
  .col-i .cards-portifolio {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-i .group-searches-row button {
    padding: 15px 20px;
  }
  .card-services {
    width: 90%;
  }
  .responsive {
    width: 100%;
  }
  .text-buutton-i p {
    font-size: 16px;
  }
  .card-services p {
    font-size: 16px;
  }
  .footer {
    background-color: transparent;
    height: auto;
  }
  .footer-group {
    flex-direction: column;
  }
  .group-col {
    margin-top: 40%;
    flex-direction: column;
  }
  .group-col h1 {
    text-align: center;
  }
  .group-col h3 {
    text-align: center;
  }
  .group-col p {
    max-width: 100%;
    text-align: center;
  }
  .group-col .card-button {
    justify-content: center;
  }
  .avatar-i .img-avatar {
    width: 200px;
    height: 200px;
  }
  .avatar-i .img-avatar img {
    width: 90%;
  }
  .contact-group {
    margin-top: 20%;
  }
  .group-input {
    margin: 3px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .group-input input {
    width: 100%;
    margin: 8px;
  }
  .message-group {
    display: flex;
    width: 50%;
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .col-i {
    width: 100%;
  }
  .col-i h1 {
    font-size: 16px;
  }
  .col-i .cards-portifolio .card--portifolio:hover .card--hover {
    top: 0;
  }
}
.container--modal {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
}
.container--modal .modal-body {
  width: 70%;
  height: 450px;
  background-color: #0c2135;
  display: flex;
  border-bottom: 5px solid rgb(16, 223, 223);
  position: relative;
  margin-top: 5%;
  padding: 30px;
}
.container--modal .modal-body .project-open {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: 3px solid rgb(16, 223, 223);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.container--modal .modal-body .project-open i {
  color: #fff;
  font-size: 12px;
  color: rgb(94, 173, 173);
}
.container--modal .modal-body .project-open:hover {
  transform: scale(1.2);
}
.container--modal .modal-body .project-open:hover i {
  font-weight: bold;
}
.container--modal .modal-body .group-col {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container--modal .modal-body .group-col .project--title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container--modal .modal-body .group-col .project--title h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
.container--modal .modal-body .group-col .project--desctition p {
  color: #fff;
  font-style: italic;
  font-size: 14px;
  font-weight: 200;
}
.container--modal .modal-body .group-col .project-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0;
  flex-wrap: wrap;
}
.container--modal .modal-body .group-col .project-icons i,
.container--modal .modal-body .group-col .project-icons a {
  font-size: 18px;
  color: hsl(229, 56%, 51%);
  padding: 8px;
  border: 1px solid rgb(16, 223, 223);
  transition: 1s;
}
.container--modal .modal-body .group-col .project-icons .border-none {
  border: 0;
}
.container--modal .modal-body .group-col .project-icons i:hover,
.container--modal .modal-body .group-col .project-icons a:hover {
  background-color: #2a4464;
}
.container--modal .modal-body .group-col .project--responsive {
  width: 100%;
  margin-bottom: 30px;
}
.container--modal .modal-body .group-col .project--responsive h3 {
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 16px;
}
.container--modal .modal-body .group-col .project--responsive .project-responsive-image {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}
.container--modal .modal-body .group-col .project--responsive .project-responsive-image img {
  width: inherit;
  height: inherit;
  cursor: pointer;
}
.container--modal .modal-body .group-col .project--images {
  position: relative;
  height: 100%;
  margin-bottom: 60px;
  padding-left: 20px;
  overflow: hidden;
}
.container--modal .modal-body .group-col .project--images .project--image {
  width: 100%;
}
.container--modal .modal-body .group-col .project--images .project--image img {
  width: 103%;
  height: inherit;
  transition: all 0.9s;
}
.container--modal .modal-body .group-col .project--images img:hover {
  transform: scale(1.1);
}
.container--modal .modal-body .scroll {
  overflow-y: scroll;
}

@media (min-width: 700px) and (max-width: 900px) {
  .container--modal .modal-body {
    width: 90%;
    height: auto;
    padding: 10px 0;
    margin-top: 50px;
  }
  .container--modal .modal-body .group-col .project--title {
    margin-top: 30px;
  }
  .container--modal .modal-body .group-col .project--responsive .project-responsive-image {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .container--modal .modal-body {
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 10%;
  }
  .container--modal .modal-body .project-open {
    right: 10px;
    top: 15%;
  }
  .container--modal .modal-body .group-col .project--title {
    margin-top: -30px;
  }
  .container--modal .modal-body .group-col .project--desctition {
    margin-top: -40%;
  }
  .container--modal .modal-body .group-col .project--responsive {
    width: 100%;
    margin-bottom: 30px;
  }
  .container--modal .modal-body .group-col .project--responsive h3 {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 16px;
  }
  .container--modal .modal-body .group-col .project--responsive .project-responsive-image {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
  }
  .container--modal .modal-body .group-col .project--responsive .project-responsive-image img {
    width: inherit;
    height: inherit;
    cursor: pointer;
  }
}
body {
  width: 100%;
  font-family: "Sora", sans-serif;
  background-color: #06121e;
  position: relative;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #d8d4da;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #1a1f25;
}/*# sourceMappingURL=styles.css.map */