$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #3e3e3f;
$black-dark-2: #707072;
$black-dark-3: #38383a;
$black-dark-4: #58585c;

$white-normal: #fff;
$white-light: #fefbff;
$white-light-2: #d8d4da;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;

$blue-light: #3b54c7;
$equdor-normal: rgb(16, 223, 223);
$equdor-light: rgb(94, 173, 173)